@import "./fontawesome";
@import "./mixins";

body {
  background-color: #fafafa;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: dodgerblue 2px dotted;
}

// Main Nav Styles (top nav bar)
.top-nav-container {
  background-color: aquamarine;
  @include flex(row, space-between);

  height: 5vh;
  width: 100vw;
  .logo-container {
    padding: 0.5vw;
  }
  .searchbar-container {
    .searchbar {
      background-color: #fafafa;
      padding: 0.2rem;
    }
  }
  .nav-menu-container {
    border: black 2px solid;
    height: 2.8rem;
    width: 30vh;
    @include flex(row, space-between);

    // links in navigation menu >>
    a {
      //     &:visited,
      //     &:active {
      //     color: black;
      //    }
      height: 100%;
      @include flex(column, space-between, center);
      // fontawesome icons of navigation menu >>
      .fi {
        color: black;
        font-size: 27px;
      }
      // user profile image >>
      .user-profile-pic {
        width: 30px;
        height: 30px;
        border: rgb(200, 200, 200) 2px solid;
        border-radius: 50%;
        //align-self: flex-start;
      }
      // red indicators for updates (i.e. new messages, new likes, new posts in explore) >>
      .indicator {
        height: 7px;
        width: 7px;
        border-radius: 50%;
        background-color: red;
      }
    }
  }
}
