@import "./fontawesome";

body {
  background-color: #fafafa;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: dodgerblue 2px dotted;
}

// Main Nav Styles
.top-nav-container {
  background-color: red;
  display: flex;
}
