@import "./fontawesome";
@import "./mixins";

body {
  background-color: #fafafa;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: dodgerblue 2px dotted;
}

// Main Nav Styles (top nav bar)
.top-nav-container {
  background-color: aquamarine;
  @include flex(row, space-between);

  height: 5vh;
  width: 100vw;
  .logo-container {
    padding: 0.5vw;
  }
  .searchbar-container {
    .searchbar {
      background-color: #fafafa;
      padding: 0.2rem;
    }
  }
  .nav-menu-container {
    border: black 2px solid;

    width: 30vw;
    @include flex(row, space-between);

    a {
      //     &:visited,
      //     &:active {
      //     color: black;
      //    }
      .fi {
        color: black;
        font-size: 27px;
      }
      .user-profile-pic {
        width: 30px;
        height: 30px;
        border: rgb(200, 200, 200) 2px solid;
        border-radius: 50%;
      }
    }
  }
}
